@use "variables" as *;
@use "functions" as f;

html {
   font-size: 16px;
}

body {
   background-color: $color-background;
   color: $color-grayscale-primary;
   font-family: $font-default;
   font-optical-sizing: auto;
}

.main-wrapper {
   width: 90%;
   max-width: f.rem(1200px);
   margin: f.rem(64px) auto;
   display: grid;
   grid-template-columns: 9fr 1fr;
   column-gap: f.rem(48px);
   @media (max-width: 1099px) {
    display: flex;
    flex-direction: column-reverse;
    margin: f.rem(16px) auto
   }
}

.main {
   .header {
      h1 {
         margin-bottom: f.rem(48px);
         font-family: $font-alt;
      }
   }
}

.aside {
   position: sticky;
   top: 10px;
   height: 400px;
   @media (max-width: 1099px) {
     height: unset;
     top: 0;
     padding-block: f.rem(16px);
     background-color: $color-background;
   }
}

.link {
   text-decoration: none;
   &:hover {
      text-decoration: underline;
   }
}

.font-italic {
   font-style: italic;
}

.font-thin {
   font-weight: 100;
}

.font-x-light {
   font-weight: 200;
}

.font-light {
   font-weight: 300;
}

.font-regular {
   font-weight: 400;
}

.font-medium {
   font-weight: 500;
}

.font-semibold {
   font-weight: 600;
}

.font-bold {
   font-weight: 700;
}

.font-x-bold {
   font-weight: 800;
}

.font-black {
   font-weight: 900;
}

.font-xs {
   font-size: $font-xs;
}

.font-sm {
   font-size: $font-sm;
}

.font-md {
   font-size: $font-md;
}

.font-lg {
   font-size: $font-lg;
}

.font-xl {
   font-size: $font-xl;
}

.font-2xl {
   font-size: $font-2xl;
}

.font-3xl {
   font-size: $font-3xl;
}

.font-4xl {
   font-size: $font-4xl;
}

.font-alt {
   font-family: $font-alt;
}
