@use "sass:map";

$breakpoints: (
   small: 375px,
   medium: 768px,
   large: 1024px,
   x-large: 1200px,
);

@mixin mq($key) {
   $size: map.get($breakpoints, $key);
   @media (max-width: $size) {
      @content;
   }
}

// @include mq(small) {
//     padding: 2rem
//   }
