*,
*::after,
*::before {
   box-sizing: border-box;
}

// Remove default padding for elements with a class attribute
ul[class],
ol[class] {
   padding: 0;
}

// Remove default margin
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
   margin: 0;
}

// Set core body defaults
body {
   scroll-behavior: smooth;
}

// Remove list styles on ul, ol elements with a class attribute
ul[class],
ol[class] {
   list-style: none;
}

// Make images easier to work with
img {
   max-width: 100%;
   display: block;
}
