// Font Family
$font-default: "Public Sans", sans-serif;
$font-alt: "Exo 2", sans-serif;

// Font Sizes
$font-xs: 12px;
$font-sm: 14px;
$font-md: 16px;
$font-lg: 18px;
$font-xl: 20px;
$font-2xl: 24px;
$font-3xl: 32px;
$font-4xl: 48px;

// Font Weights
$font-thin: 100;
$font-x-light: 200;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$font-x-bold: 800;
$font-black: 900;

// Font Style
$font-italic: italic;

// Colors
$color-background: hsl(0, 0%, 85%);
$color-grayscale-primary: hsl(0, 0%, 5%);
$color-grayscale-20: hsl(0, 0%, 20%);
$color-grayscale-30: hsl(0, 0%, 30%);
$color-grayscale-40: hsl(0, 0%, 40%);
$color-grayscale-50: hsl(0, 0%, 50%);
$color-grayscale-60: hsl(0, 0%, 60%);
$color-grayscale-70: hsl(0, 0%, 70%);
$color-grayscale-80: hsl(0, 0%, 80%);
$color-grayscale-90: hsl(0, 0%, 90%);
$color-grayscale-100: hsl(0, 0%, 100%);
$color-alt-primary: hsl(0, 100%, 50%);
$color-alt-60: hsl(0, 100%, 60%);
$color-alt-70: hsl(0, 100%, 70%);
$color-alt-80: hsl(0, 100%, 80%);
$color-alt-90: hsl(0, 100%, 90%);

// Elevation
$shadow-md: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
$shadow-lg: 0 5px 25px 0 rgba(0, 0, 0, 0.2);
$shadow-modal: 0 5px 50px rgba(0, 0, 0, 0.5);
