@use "../partials/functions" as f;
@use "../partials/variables" as *;

.main-nav {
  &__list {
    width: 100%;
    @media (max-width: 1099px) {
      display: flex;
      flex-wrap: wrap;
      column-gap: f.rem(10px);
    }
  }
  &__item {
    width: 100%;
    margin-bottom: f.rem(16px);
    @media (max-width: 1099px) {
      width: fit-content;
    }
  }
  &__link {
    color: $color-grayscale-40;
    font-weight: 600;
    &--active {
      color: $color-alt-primary;
    }
  }
}
