block config
    include ../config/config

include ../mixins/mixins

doctype html
html(lang="en")
    head
        include ../includes/head
    body
      .main-wrapper
        main.main
          block main
        block navigation
          include ../includes/navigation
