- let itemsNavegacionUrl = ['index','colors','typography','elevation']
- let textoEnlace = ['home', 'colors', 'typography', 'elevation']

aside.aside
  nav.main-nav
    ul.main-nav__list
       - for (let i = 0; i < itemsNavegacionUrl.length; i++)
        li.main-nav__item
          if actual ==itemsNavegacionUrl[i]
            a.link.main-nav__link.main-nav__link--active(href=`${itemsNavegacionUrl[i]}.html`) #{textoEnlace[i]}
          else
            a.link.main-nav__link(href=`${itemsNavegacionUrl[i]}.html`) #{textoEnlace[i]}
