@use "../partials/functions" as f;
@use "../partials/variables" as *;

.colors-page {
  &__section {
    h2 {
      margin-bottom: f.rem(32px);
    }
    &:first-of-type {
      margin-bottom: f.rem(48px);
    }
  }

  &__cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: f.rem(24px);

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  &__card {
    height: f.rem(175px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: f.rem(16px);
    border-radius: 4px;
    footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: f.rem(14px);
    }
    &--dark {
      color: $color-grayscale-100;
    }

    &--light {
      color: $color-grayscale-primary;
    }
    &--section-1 {
      &:nth-child(1) {
        background-color: $color-grayscale-primary;
      }
      &:nth-child(2) {
        background-color: $color-grayscale-20;
      }
      &:nth-child(3) {
        background-color: $color-grayscale-30;
      }
      &:nth-child(4) {
        background-color: $color-grayscale-40;
      }
      &:nth-child(5) {
        background-color: $color-grayscale-50;
      }
      &:nth-child(6) {
        background-color: $color-grayscale-60;
      }
      &:nth-child(7) {
        background-color: $color-grayscale-70;
      }
      &:nth-child(8) {
        background-color: $color-grayscale-80;
      }
      &:nth-child(9) {
        background-color: $color-grayscale-90;
      }
      &:nth-child(10) {
        background-color: $color-grayscale-100;
      }
    }
    &--section-2 {
      &:nth-child(1) {
        background-color: $color-alt-primary;
      }
      &:nth-child(2) {
        background-color: $color-alt-70;
      }
      &:nth-child(3) {
        background-color: $color-alt-80;
      }
      &:nth-child(4) {
        background-color: $color-alt-90;
      }
    }
  }
}
