@use "../partials/functions" as f;
@use "../partials/variables" as *;
@use "../partials/mixins" as *;

.elevation-page {
    &__cards-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: f.rem(48px);
        @include mq(medium) {
          grid-template-columns: 1fr;
        }
     }

     &__card {
        height: f.rem(175px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: f.rem(16px);
        background-color: $color-grayscale-100;
        border-radius: 4px;
        footer {
           display: flex;
           justify-content: space-between;
           align-items: center;
           font-size: f.rem(14px);
        }

        &:nth-child(1) {
          box-shadow: $shadow-md;
        }

        &:nth-child(2) {
          box-shadow: $shadow-lg;
        }

        &:nth-child(3) {
          box-shadow: $shadow-modal;
        }
     }
}
