@use '../partials/variables' as *;

.landing {
  &__wrapper {
    min-height: 100vh;
    padding-top: 3rem;
    background-color: $color-grayscale-100;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 2rem;

    @media (max-width: 767px) {
      grid-template-columns: 1fr;
    }

    img {
      max-width: 100%;
    }

    h1 {
      margin-bottom: 2rem;
      font-family: $font-default;
      font-size: $font-4xl;
    }
  }

  &__section-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 1rem;
    @media (max-width: 767px) {
      justify-content: flex-start;
      padding-left: 2rem;
    }

  }

  &__link-next {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
    background-color: $color-grayscale-primary;
    color: $color-grayscale-100;
    border-radius: 10px;
    transition: transform 300ms ease-in-out;
    font-size: $font-2xl;
    text-decoration: none;

    &:hover {
      transform: scale(1.1);
    }

    span {
      &:first-child {
        margin-right: 0.75rem;
      }
    }
  }
}

.material-symbols-outlined {
  font-size: $font-4xl;
}
