@use "../partials/functions" as f;
@use "../partials/variables" as *;

.typography-page {
  &__section {
    h2 {
      padding-bottom: f.rem(8px);
      margin-bottom: f.rem(24px);
      border-bottom: 1px solid $color-grayscale-70;
    }
  }

  &__font-variant {
    margin-bottom: f.rem(24px);
    h3 {
      margin-bottom: f.rem(20px);
    }
  }

  &__font-line {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: f.rem(16px);
    }
  }

  &__font-item {
    font-size: $font-sm;
  }
}

.variant-xs-thin {
  li {
    &:first-child {
      p {
        font-size: $font-xs;
        font-weight: $font-thin;
      }
    }
  }
}

.variant-sm-thin {
  li {
    &:first-child {
      p {
        font-size: $font-sm;
        font-weight: $font-thin;
      }
    }
  }
}

.variant-md-thin {
  li {
    &:first-child {
      p {
        font-size: $font-md;
        font-weight: $font-thin;
      }
    }
  }
}

.variant-lg-thin {
  li {
    &:first-child {
      p {
        font-size: $font-lg;
        font-weight: $font-thin;
      }
    }
  }
}

.variant-xl-thin {
  li {
    &:first-child {
      p {
        font-size: $font-xl;
        font-weight: $font-thin;
      }
    }
  }
}

.variant-2xl-thin {
  li {
    &:first-child {
      p {
        font-size: $font-2xl;
        font-weight: $font-thin;
      }
    }
  }
}

.variant-3xl-thin {
  li {
    &:first-child {
      p {
        font-size: $font-3xl;
        font-weight: $font-thin;
      }
    }
  }
}

.variant-4xl-thin {
  li {
    &:first-child {
      p {
        font-size: $font-4xl;
        font-weight: $font-thin;
      }
    }
  }
}

.variant-xs-x-light {
  li {
    &:first-child {
      p {
        font-size: $font-xs;
        font-weight: $font-x-light;
      }
    }
  }
}

.variant-sm-x-light {
  li {
    &:first-child {
      p {
        font-size: $font-xs;
        font-weight: $font-x-light;
      }
    }
  }
}

.variant-md-x-light {
  li {
    &:first-child {
      p {
        font-size: $font-md;
        font-weight: $font-x-light;
      }
    }
  }
}

.variant-lg-x-light {
  li {
    &:first-child {
      p {
        font-size: $font-lg;
        font-weight: $font-x-light;
      }
    }
  }
}

.variant-xl-x-light {
  li {
    &:first-child {
      p {
        font-size: $font-xl;
        font-weight: $font-x-light;
      }
    }
  }
}

.variant-2xl-x-light {
  li {
    &:first-child {
      p {
        font-size: $font-2xl;
        font-weight: $font-x-light;
      }
    }
  }
}

.variant-3xl-x-light {
  li {
    &:first-child {
      p {
        font-size: $font-3xl;
        font-weight: $font-x-light;
      }
    }
  }
}

.variant-4xl-x-light {
  li {
    &:first-child {
      p {
        font-size: $font-4xl;
        font-weight: $font-x-light;
      }
    }
  }
}

.variant-xs-light {
  li {
    &:first-child {
      p {
        font-size: $font-xs;
        font-weight: $font-light;
      }
    }
  }
}

.variant-sm-light {
  li {
    &:first-child {
      p {
        font-size: $font-sm;
        font-weight: $font-light;
      }
    }
  }
}

.variant-md-light {
  li {
    &:first-child {
      p {
        font-size: $font-md;
        font-weight: $font-light;
      }
    }
  }
}

.variant-lg-light {
  li {
    &:first-child {
      p {
        font-size: $font-lg;
        font-weight: $font-light;
      }
    }
  }
}

.variant-xl-light {
  li {
    &:first-child {
      p {
        font-size: $font-xl;
        font-weight: $font-light;
      }
    }
  }
}

.variant-2xl-light {
  li {
    &:first-child {
      p {
        font-size: $font-2xl;
        font-weight: $font-light;
      }
    }
  }
}

.variant-3xl-light {
  li {
    &:first-child {
      p {
        font-size: $font-3xl;
        font-weight: $font-light;
      }
    }
  }
}

.variant-4xl-light {
  li {
    &:first-child {
      p {
        font-size: $font-4xl;
        font-weight: $font-light;
      }
    }
  }
}

.variant-xs-regular {
  li {
    &:first-child {
      p {
        font-size: $font-xs;
        font-weight: $font-regular;
      }
    }
  }
}

.variant-sm-regular {
  li {
    &:first-child {
      p {
        font-size: $font-sm;
        font-weight: $font-regular;
      }
    }
  }
}

.variant-md-regular {
  li {
    &:first-child {
      p {
        font-size: $font-md;
        font-weight: $font-regular;
      }
    }
  }
}

.variant-lg-regular {
  li {
    &:first-child {
      p {
        font-size: $font-lg;
        font-weight: $font-regular;
      }
    }
  }
}

.variant-xl-regular {
  li {
    &:first-child {
      p {
        font-size: $font-xl;
        font-weight: $font-regular;
      }
    }
  }
}

.variant-2xl-regular {
  li {
    &:first-child {
      p {
        font-size: $font-2xl;
        font-weight: $font-regular;
      }
    }
  }
}

.variant-3xl-regular {
  li {
    &:first-child {
      p {
        font-size: $font-3xl;
        font-weight: $font-regular;
      }
    }
  }
}

.variant-4xl-regular {
  li {
    &:first-child {
      p {
        font-size: $font-4xl;
        font-weight: $font-regular;
      }
    }
  }
}

.variant-xs-italic {
  li {
    &:first-child {
      p {
        font-size: $font-xs;
        font-style: $font-italic;
      }
    }
  }
}

.variant-sm-italic {
  li {
    &:first-child {
      p {
        font-size: $font-sm;
        font-style: $font-italic;
      }
    }
  }
}

.variant-md-italic {
  li {
    &:first-child {
      p {
        font-size: $font-md;
        font-style: $font-italic;
      }
    }
  }
}

.variant-lg-italic {
  li {
    &:first-child {
      p {
        font-size: $font-lg;
        font-style: $font-italic;
      }
    }
  }
}

.variant-xl-italic {
  li {
    &:first-child {
      p {
        font-size: $font-xl;
        font-style: $font-italic;
      }
    }
  }
}

.variant-2xl-italic {
  li {
    &:first-child {
      p {
        font-size: $font-2xl;
        font-style: $font-italic;
      }
    }
  }
}

.variant-3xl-italic {
  li {
    &:first-child {
      p {
        font-size: $font-3xl;
        font-style: $font-italic;
      }
    }
  }
}

.variant-4xl-italic {
  li {
    &:first-child {
      p {
        font-size: $font-4xl;
        font-style: $font-italic;
      }
    }
  }
}

.variant-xs-medium {
  li {
    &:first-child {
      p {
        font-size: $font-xs;
        font-weight: $font-medium;
      }
    }
  }
}

.variant-sm-medium {
  li {
    &:first-child {
      p {
        font-size: $font-sm;
        font-weight: $font-medium;
      }
    }
  }
}

.variant-md-medium {
  li {
    &:first-child {
      p {
        font-size: $font-md;
        font-weight: $font-medium;
      }
    }
  }
}

.variant-lg-medium {
  li {
    &:first-child {
      p {
        font-size: $font-lg;
        font-weight: $font-medium;
      }
    }
  }
}

.variant-xl-medium {
  li {
    &:first-child {
      p {
        font-size: $font-xl;
        font-weight: $font-medium;
      }
    }
  }
}

.variant-2xl-medium {
  li {
    &:first-child {
      p {
        font-size: $font-2xl;
        font-weight: $font-medium;
      }
    }
  }
}

.variant-3xl-medium {
  li {
    &:first-child {
      p {
        font-size: $font-3xl;
        font-weight: $font-medium;
      }
    }
  }
}

.variant-4xl-medium {
  li {
    &:first-child {
      p {
        font-size: $font-4xl;
        font-weight: $font-medium;
      }
    }
  }
}

.variant-xs-semibold {
  li {
    &:first-child {
      p {
        font-size: $font-xs;
        font-weight: $font-semibold;
      }
    }
  }
}

.variant-sm-semibold {
  li {
    &:first-child {
      p {
        font-size: $font-sm;
        font-weight: $font-semibold;
      }
    }
  }
}

.variant-md-semibold {
  li {
    &:first-child {
      p {
        font-size: $font-md;
        font-weight: $font-semibold;
      }
    }
  }
}

.variant-lg-semibold {
  li {
    &:first-child {
      p {
        font-size: $font-lg;
        font-weight: $font-semibold;
      }
    }
  }
}

.variant-xl-semibold {
  li {
    &:first-child {
      p {
        font-size: $font-xl;
        font-weight: $font-semibold;
      }
    }
  }
}

.variant-2xl-semibold {
  li {
    &:first-child {
      p {
        font-size: $font-2xl;
        font-weight: $font-semibold;
      }
    }
  }
}

.variant-3xl-semibold {
  li {
    &:first-child {
      p {
        font-size: $font-3xl;
        font-weight: $font-semibold;
      }
    }
  }
}

.variant-4xl-semibold {
  li {
    &:first-child {
      p {
        font-size: $font-4xl;
        font-weight: $font-semibold;
      }
    }
  }
}

.variant-xs-bold {
  li {
    &:first-child {
      p {
        font-size: $font-xs;
        font-weight: $font-bold;
      }
    }
  }
}

.variant-sm-bold {
  li {
    &:first-child {
      p {
        font-size: $font-sm;
        font-weight: $font-bold;
      }
    }
  }
}

.variant-md-bold {
  li {
    &:first-child {
      p {
        font-size: $font-md;
        font-weight: $font-bold;
      }
    }
  }
}

.variant-lg-bold {
  li {
    &:first-child {
      p {
        font-size: $font-lg;
        font-weight: $font-bold;
      }
    }
  }
}

.variant-xl-bold {
  li {
    &:first-child {
      p {
        font-size: $font-xl;
        font-weight: $font-bold;
      }
    }
  }
}

.variant-2xl-bold {
  li {
    &:first-child {
      p {
        font-size: $font-2xl;
        font-weight: $font-bold;
      }
    }
  }
}

.variant-3xl-bold {
  li {
    &:first-child {
      p {
        font-size: $font-3xl;
        font-weight: $font-bold;
      }
    }
  }
}

.variant-4xl-bold {
  li {
    &:first-child {
      p {
        font-size: $font-4xl;
        font-weight: $font-bold;
      }
    }
  }
}

.variant-xs-x-bold {
  li {
    &:first-child {
      p {
        font-size: $font-xs;
        font-weight: $font-x-bold;
      }
    }
  }
}

.variant-sm-x-bold {
  li {
    &:first-child {
      p {
        font-size: $font-sm;
        font-weight: $font-x-bold;
      }
    }
  }
}

.variant-md-x-bold {
  li {
    &:first-child {
      p {
        font-size: $font-md;
        font-weight: $font-x-bold;
      }
    }
  }
}

.variant-lg-x-bold {
  li {
    &:first-child {
      p {
        font-size: $font-lg;
        font-weight: $font-x-bold;
      }
    }
  }
}

.variant-xl-x-bold {
  li {
    &:first-child {
      p {
        font-size: $font-xl;
        font-weight: $font-x-bold;
      }
    }
  }
}

.variant-2xl-x-bold {
  li {
    &:first-child {
      p {
        font-size: $font-2xl;
        font-weight: $font-x-bold;
      }
    }
  }
}

.variant-3xl-x-bold {
  li {
    &:first-child {
      p {
        font-size: $font-3xl;
        font-weight: $font-x-bold;
      }
    }
  }
}

.variant-4xl-x-bold {
  li {
    &:first-child {
      p {
        font-size: $font-4xl;
        font-weight: $font-x-bold;
      }
    }
  }
}

.variant-xs-black {
  li {
    &:first-child {
      p {
        font-size: $font-xs;
        font-weight: $font-black;
      }
    }
  }
}

.variant-sm-black {
  li {
    &:first-child {
      p {
        font-size: $font-sm;
        font-weight: $font-black;
      }
    }
  }
}

.variant-md-black {
  li {
    &:first-child {
      p {
        font-size: $font-md;
        font-weight: $font-black;
      }
    }
  }
}

.variant-lg-black {
  li {
    &:first-child {
      p {
        font-size: $font-lg;
        font-weight: $font-black;
      }
    }
  }
}

.variant-xl-black {
  li {
    &:first-child {
      p {
        font-size: $font-xl;
        font-weight: $font-black;
      }
    }
  }
}

.variant-2xl-black {
  li {
    &:first-child {
      p {
        font-size: $font-2xl;
        font-weight: $font-black;
      }
    }
  }
}

.variant-3xl-black {
  li {
    &:first-child {
      p {
        font-size: $font-3xl;
        font-weight: $font-black;
      }
    }
  }
}

.variant-4xl-black {
  li {
    &:first-child {
      p {
        font-size: $font-4xl;
        font-weight: $font-black;
      }
    }
  }
}








