extends templates/template
append config
  - nombrePagina = 'Colors'
  - nombreHeader = 'Colors'
  - actual = 'colors'

block main
  header.header.colors-page__header
    h1 #{nombreHeader}
  section.colors-page__section
    h2 Grayscale
    .colors-page__cards-container
      +colorsGray(true, 'Grayscale Primary', 'hsl(0, 0%, 10%)', '$color-grayscale-primary')
      +colorsGray(true, 'Grayscale 20', 'hsl(0, 0%, 20%)', '$color-grayscale-20')
      +colorsGray(true, 'Grayscale 30', 'hsl(0, 0%, 30%)', '$color-grayscale-30')
      +colorsGray(true, 'Grayscale 40', 'hsl(0, 0%, 40%)', '$color-grayscale-40')
      +colorsGray(true, 'Grayscale 50', 'hsl(0, 0%, 50%)', '$color-grayscale-50')
      +colorsGray(true, 'Grayscale 60', 'hsl(0, 0%, 60%)', '$color-grayscale-60')
      +colorsGray(false, 'Grayscale 70', 'hsl(0, 0%, 70%)', '$color-grayscale-70')
      +colorsGray(false, 'Grayscale 80', 'hsl(0, 0%, 80%)', '$color-grayscale-80')
      +colorsGray(false, 'Grayscale 90', 'hsl(0, 0%, 90%)', '$color-grayscale-90')
      +colorsGray(false, 'Grayscale 100', 'hsl(0, 0%, 100%)', '$color-grayscale-100')
  section.colors-page__section
    h2 Alt Color
    section.colors-page__cards-container
      +colorsAlt(true, 'Alt Primary', 'hsl(0, 100%, 50%', '$color-alt-primary')
      +colorsAlt(false, 'Alt 70', 'hsl(0, 100%, 70%', '$color-alt-70')
      +colorsAlt(false, 'Alt 80', 'hsl(0, 100%, 80%', '$color-alt-80')
      +colorsAlt(false, 'Alt 90', 'hsl(0, 100%, 90%', '$color-alt-90')
