extends templates/template
append config
  - nombrePagina = 'Elevation'
  - nombreHeader = 'Elevation'
  - actual = 'elevation'

block main
  header.header.elevation-page__header
    h1= nombreHeader
  section.elevation-page__section
    .elevation-page__cards-container
      +elevation('Shadow MD', '0 5px 15px 0 rgba(0, 0, 0, 0.15)', '$shadow-md')
      +elevation('Shadow LG', '0 5px 25px 0 rgba(0, 0, 0, 0.2)', '$shadow-lg')
      +elevation('Shadow Modal', '0 5px 50px 0 rgba(0, 0, 0, 0.5)', '$shadow-modal')
