extends templates/template
append config
  - nombrePagina = 'Home'
  - nombreHeader = 'Getting Started'
  - actual = 'index'

block main
  header.header.index-page__header
    h1 #{nombreHeader}
    p This #[strong Components Library] is a project which I want to use as a starting point.
