extends templates/template
append config
  - nombrePagina = 'Typography'
  - nombreHeader = 'Typography'
  - actual = 'typography'

block main
  header.header.typography-page__header
    h1= nombreHeader
  section.typography-page__section
    h2 Default
    .typography-page__font-variant
      h3 Public Sans Thin ($font-thin)
      ul.typography-page__font-line.variant-xs-thin
        +fontLine('12px', '0.75rem', '$font-xs')
      ul.typography-page__font-line.variant-sm-thin
        +fontLine('14px', '0.875rem', '$font-sm')
      ul.typography-page__font-line.variant-md-thin
        +fontLine('16px', '1rem', '$font-md')
      ul.typography-page__font-line.variant-lg-thin
        +fontLine('18px', '1.125rem', '$font-lg')
      ul.typography-page__font-line.variant-xl-thin
        +fontLine('20px', '1.25rem', '$font-xl')
      ul.typography-page__font-line.variant-2xl-thin
        +fontLine('24px', '1.5rem', '$font-2xl')
      ul.typography-page__font-line.variant-3xl-thin
        +fontLine('32px', '2rem', '$font-3xl')
      ul.typography-page__font-line.variant-4xl-thin
        +fontLine('48px', '3rem', '$font-4xl')
    .typography-page__font-variant
      h3 Public Sans ExtraLight ($font-x-light)
      ul.typography-page__font-line.variant-xs-x-light
        +fontLine('12px', '0.75rem', '$font-xs')
      ul.typography-page__font-line.variant-sm-x-light
        +fontLine('14px', '0.875rem', '$font-sm')
      ul.typography-page__font-line.variant-md-x-light
        +fontLine('16px', '1rem', '$font-md')
      ul.typography-page__font-line.variant-lg-x-light
        +fontLine('18px', '1.125rem', '$font-lg')
      ul.typography-page__font-line.variant-xl-x-light
        +fontLine('20px', '1.25rem', '$font-xl')
      ul.typography-page__font-line.variant-2xl-x-light
        +fontLine('24px', '1.5rem', '$font-2xl')
      ul.typography-page__font-line.variant-3xl-x-light
        +fontLine('32px', '2rem', '$font-3xl')
      ul.typography-page__font-line.variant-4xl-x-light
        +fontLine('48px', '3rem', '$font-4xl')
        .typography-page__font-variant
      h3 Public Sans Light ($font-light)
      ul.typography-page__font-line.variant-xs-light
        +fontLine('12px', '0.75rem', '$font-xs')
      ul.typography-page__font-line.variant-sm-light
        +fontLine('14px', '0.875rem', '$font-sm')
      ul.typography-page__font-line.variant-md-light
        +fontLine('16px', '1rem', '$font-md')
      ul.typography-page__font-line.variant-lg-light
        +fontLine('18px', '1.125rem', '$font-lg')
      ul.typography-page__font-line.variant-xl-light
        +fontLine('20px', '1.25rem', '$font-xl')
      ul.typography-page__font-line.variant-2xl-light
        +fontLine('24px', '1.5rem', '$font-2xl')
      ul.typography-page__font-line.variant-3xl-light
        +fontLine('32px', '2rem', '$font-3xl')
      ul.typography-page__font-line.variant-4xl-light
        +fontLine('48px', '3rem', '$font-4xl')
      h3 Public Sans Regular ($font-regular)
      ul.typography-page__font-line.variant-xs-regular
        +fontLine('12px', '0.75rem', '$font-xs')
      ul.typography-page__font-line.variant-sm-regular
        +fontLine('14px', '0.875rem', '$font-sm')
      ul.typography-page__font-line.variant-md-regular
        +fontLine('16px', '1rem', '$font-md')
      ul.typography-page__font-line.variant-lg-regular
        +fontLine('18px', '1.125rem', '$font-lg')
      ul.typography-page__font-line.variant-xl-regular
        +fontLine('20px', '1.25rem', '$font-xl')
      ul.typography-page__font-line.variant-2xl-regular
        +fontLine('24px', '1.5rem', '$font-2xl')
      ul.typography-page__font-line.variant-3xl-regular
        +fontLine('32px', '2rem', '$font-3xl')
      ul.typography-page__font-line.variant-4xl-regular
        +fontLine('48px', '3rem', '$font-4xl')
      h3 Public Sans Italic ($font-italic)
      ul.typography-page__font-line.variant-xs-italic
        +fontLine('12px', '0.75rem', '$font-xs')
      ul.typography-page__font-line.variant-sm-italic
        +fontLine('14px', '0.875rem', '$font-sm')
      ul.typography-page__font-line.variant-md-italic
        +fontLine('16px', '1rem', '$font-md')
      ul.typography-page__font-line.variant-lg-italic
        +fontLine('18px', '1.125rem', '$font-lg')
      ul.typography-page__font-line.variant-xl-italic
        +fontLine('20px', '1.25rem', '$font-xl')
      ul.typography-page__font-line.variant-2xl-italic
        +fontLine('24px', '1.5rem', '$font-2xl')
      ul.typography-page__font-line.variant-3xl-italic
        +fontLine('32px', '2rem', '$font-3xl')
      ul.typography-page__font-line.variant-4xl-italic
        +fontLine('48px', '3rem', '$font-4xl')
      h3 Public Sans Medium ($font-medium)
      ul.typography-page__font-line.variant-xs-medium
        +fontLine('12px', '0.75rem', '$font-xs')
      ul.typography-page__font-line.variant-sm-medium
        +fontLine('14px', '0.875rem', '$font-sm')
      ul.typography-page__font-line.variant-md-medium
        +fontLine('16px', '1rem', '$font-md')
      ul.typography-page__font-line.variant-lg-medium
        +fontLine('18px', '1.125rem', '$font-lg')
      ul.typography-page__font-line.variant-xl-medium
        +fontLine('20px', '1.25rem', '$font-xl')
      ul.typography-page__font-line.variant-2xl-medium
        +fontLine('24px', '1.5rem', '$font-2xl')
      ul.typography-page__font-line.variant-3xl-medium
        +fontLine('32px', '2rem', '$font-3xl')
      ul.typography-page__font-line.variant-4xl-medium
        +fontLine('48px', '3rem', '$font-4xl')
      h3 Public Sans SemiBold ($font-semibold)
      ul.typography-page__font-line.variant-xs-semibold
        +fontLine('12px', '0.75rem', '$font-xs')
      ul.typography-page__font-line.variant-sm-semibold
        +fontLine('14px', '0.875rem', '$font-sm')
      ul.typography-page__font-line.variant-md-semibold
        +fontLine('16px', '1rem', '$font-md')
      ul.typography-page__font-line.variant-lg-semibold
        +fontLine('18px', '1.125rem', '$font-lg')
      ul.typography-page__font-line.variant-xl-semibold
        +fontLine('20px', '1.25rem', '$font-xl')
      ul.typography-page__font-line.variant-2xl-semibold
        +fontLine('24px', '1.5rem', '$font-2xl')
      ul.typography-page__font-line.variant-3xl-semibold
        +fontLine('32px', '2rem', '$font-3xl')
      ul.typography-page__font-line.variant-4xl-semibold
        +fontLine('48px', '3rem', '$font-4xl')
      h3 Public Sans Bold ($font-bold)
      ul.typography-page__font-line.variant-xs-bold
        +fontLine('12px', '0.75rem', '$font-xs')
      ul.typography-page__font-line.variant-sm-bold
        +fontLine('14px', '0.875rem', '$font-sm')
      ul.typography-page__font-line.variant-md-bold
        +fontLine('16px', '1rem', '$font-md')
      ul.typography-page__font-line.variant-lg-bold
        +fontLine('18px', '1.125rem', '$font-lg')
      ul.typography-page__font-line.variant-xl-bold
        +fontLine('20px', '1.25rem', '$font-xl')
      ul.typography-page__font-line.variant-2xl-bold
        +fontLine('24px', '1.5rem', '$font-2xl')
      ul.typography-page__font-line.variant-3xl-bold
        +fontLine('32px', '2rem', '$font-3xl')
      ul.typography-page__font-line.variant-4xl-bold
        +fontLine('48px', '3rem', '$font-4xl')
      h3 Public Sans ExtraBold ($font-x-bold)
      ul.typography-page__font-line.variant-xs-x-bold
        +fontLine('12px', '0.75rem', '$font-xs')
      ul.typography-page__font-line.variant-sm-x-bold
        +fontLine('14px', '0.875rem', '$font-sm')
      ul.typography-page__font-line.variant-md-x-bold
        +fontLine('16px', '1rem', '$font-md')
      ul.typography-page__font-line.variant-lg-x-bold
        +fontLine('18px', '1.125rem', '$font-lg')
      ul.typography-page__font-line.variant-xl-x-bold
        +fontLine('20px', '1.25rem', '$font-xl')
      ul.typography-page__font-line.variant-2xl-x-bold
        +fontLine('24px', '1.5rem', '$font-2xl')
      ul.typography-page__font-line.variant-3xl-x-bold
        +fontLine('32px', '2rem', '$font-3xl')
      ul.typography-page__font-line.variant-4xl-x-bold
        +fontLine('48px', '3rem', '$font-4xl')
      h3 Public Sans Black ($font-black)
      ul.typography-page__font-line.variant-xs-black
        +fontLine('12px', '0.75rem', '$font-xs')
      ul.typography-page__font-line.variant-sm-black
        +fontLine('14px', '0.875rem', '$font-sm')
      ul.typography-page__font-line.variant-md-black
        +fontLine('16px', '1rem', '$font-md')
      ul.typography-page__font-line.variant-lg-black
        +fontLine('18px', '1.125rem', '$font-lg')
      ul.typography-page__font-line.variant-xl-black
        +fontLine('20px', '1.25rem', '$font-xl')
      ul.typography-page__font-line.variant-2xl-black
        +fontLine('24px', '1.5rem', '$font-2xl')
      ul.typography-page__font-line.variant-3xl-black
        +fontLine('32px', '2rem', '$font-3xl')
      ul.typography-page__font-line.variant-4xl-black
        +fontLine('48px', '3rem', '$font-4xl')
      h2 Alt
      h3 Exo 2 Thin ($font-alt, $font-thin)
      ul.typography-page__font-line.font-alt.variant-xs-thin
        +fontLine('12px', '0.75rem', '$font-xs')
      ul.typography-page__font-line.font-alt.variant-sm-thin
        +fontLine('14px', '0.875rem', '$font-sm')
      ul.typography-page__font-line.font-alt.variant-md-thin
        +fontLine('16px', '1rem', '$font-md')
      ul.typography-page__font-line.font-alt.variant-lg-thin
        +fontLine('18px', '1.125rem', '$font-lg')
      ul.typography-page__font-line.font-alt.variant-xl-thin
        +fontLine('20px', '1.25rem', '$font-xl')
      ul.typography-page__font-line.font-alt.variant-2xl-thin
        +fontLine('24px', '1.5rem', '$font-2xl')
      ul.typography-page__font-line.font-alt.variant-3xl-thin
        +fontLine('32px', '2rem', '$font-3xl')
      ul.typography-page__font-line.font-alt.variant-4xl-thin
        +fontLine('48px', '3rem', '$font-4xl')
      h3 Exo 2 Regular ($font-alt, $font-regular)
      ul.typography-page__font-line.font-alt.variant-xs-regular
        +fontLine('12px', '0.75rem', '$font-xs')
      ul.typography-page__font-line.font-alt.variant-sm-regular
        +fontLine('14px', '0.875rem', '$font-sm')
      ul.typography-page__font-line.font-alt.variant-md-regular
        +fontLine('16px', '1rem', '$font-md')
      ul.typography-page__font-line.font-alt.variant-lg-regular
        +fontLine('18px', '1.125rem', '$font-lg')
      ul.typography-page__font-line.font-alt.variant-xl-regular
        +fontLine('20px', '1.25rem', '$font-xl')
      ul.typography-page__font-line.font-alt.variant-2xl-regular
        +fontLine('24px', '1.5rem', '$font-2xl')
      ul.typography-page__font-line.font-alt.variant-3xl-regular
        +fontLine('32px', '2rem', '$font-3xl')
      ul.typography-page__font-line.font-alt.variant-4xl-regular
        +fontLine('48px', '3rem', '$font-4xl')
      h3 Exo 2 Italic ($font-alt, $font-italic)
      ul.typography-page__font-line.font-alt.variant-xs-italic
        +fontLine('12px', '0.75rem', '$font-xs')
      ul.typography-page__font-line.font-alt.variant-sm-italic
        +fontLine('14px', '0.875rem', '$font-sm')
      ul.typography-page__font-line.font-alt.variant-md-italic
        +fontLine('16px', '1rem', '$font-md')
      ul.typography-page__font-line.font-alt.variant-lg-italic
        +fontLine('18px', '1.125rem', '$font-lg')
      ul.typography-page__font-line.font-alt.variant-xl-italic
        +fontLine('20px', '1.25rem', '$font-xl')
      ul.typography-page__font-line.font-alt.variant-2xl-italic
        +fontLine('24px', '1.5rem', '$font-2xl')
      ul.typography-page__font-line.font-alt.variant-3xl-italic
        +fontLine('32px', '2rem', '$font-3xl')
      ul.typography-page__font-line.font-alt.variant-4xl-italic
        +fontLine('48px', '3rem', '$font-4xl')
      h3 Exo 2 Bold ($font-alt, $font-bold)
      ul.typography-page__font-line.font-alt.variant-xs-bold
        +fontLine('12px', '0.75rem', '$font-xs')
      ul.typography-page__font-line.font-alt.variant-sm-bold
        +fontLine('14px', '0.875rem', '$font-sm')
      ul.typography-page__font-line.font-alt.variant-md-bold
        +fontLine('16px', '1rem', '$font-md')
      ul.typography-page__font-line.font-alt.variant-lg-bold
        +fontLine('18px', '1.125rem', '$font-lg')
      ul.typography-page__font-line.font-alt.variant-xl-bold
        +fontLine('20px', '1.25rem', '$font-xl')
      ul.typography-page__font-line.font-alt.variant-2xl-bold
        +fontLine('24px', '1.5rem', '$font-2xl')
      ul.typography-page__font-line.font-alt.variant-3xl-bold
        +fontLine('32px', '2rem', '$font-3xl')
      ul.typography-page__font-line.font-alt.variant-4xl-bold
        +fontLine('48px', '3rem', '$font-4xl')

