mixin colorsGray(dark, nombreColor, colorCode, sassVariable)
  if dark
    .colors-page__card.colors-page__card--section-1.colors-page__card--dark
      h3= nombreColor
      footer
        .color-code
          p= colorCode
        .variable.font-light
          p= sassVariable
  else
    .colors-page__card.colors-page__card--section-1.colors-page__card--light
      h3= nombreColor
      footer
        .color-code
          p= colorCode
        .variable.font-light
          p= sassVariable

mixin colorsAlt(dark, nombreColor, colorCode, sassVariable)
  if dark
    .colors-page__card.colors-page__card--section-2.colors-page__card--dark
      h3= nombreColor
      footer
        .color-code
          p= colorCode
        .variable.font-light
          p= sassVariable
  else
    .colors-page__card.colors-page__card--section-2.colors-page__card--light
      h3= nombreColor
      footer
        .color-code
          p= colorCode
        .variable.font-light
          p= sassVariable

mixin elevation(name, elevationCode, sassVariable)
  .elevation-page__card
    h3= name
    footer
      .elevation-code
        p= elevationCode
      .variable.font-x-light
        p= sassVariable

mixin fontLine(pixels, rem, sassVariable)
  li.typography-page__font-item
    p Aa
  li.typography-page__font-item
    p= pixels
  li.typography-page__font-item
    p= rem
  li.typography-page__font-item
    p= sassVariable
